body{
    background-color: #ce6748;
}

.titulo{
  color: black; 
  font-size: 70px;
  text-align: center; 
}

.tituloFoto{
    color: black; 
    font-size: 20px;
    text-align: center; 
  }

.image{
    width: 150px;
    height: 110px;
    display: block;
    margin: auto;
}

.imagen{
    width: 300px;
    height: 280px;
    display: block;
    margin: auto;
}

.texto{
    color: #1d1717;
    text-align: justify;
}

.tabla{
    margin: auto;
    width: 80%;
}